* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif !important;
	color: #00897B;
}

a {
  text-decoration: none;
  color: #00897B
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.container {
	max-width: 80%;
	margin: auto;
}

/* --- HEADER --- */

header {
	width: 100%;
	height: 40px;
	position: fixed;
	top: 0;
	overflow: hidden;
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
}

header::after {
	content: "";
	clear: both;
	display: table;
}

.logo-container,
.link-container {
	float: left;
}

.logo-container {
	line-height: 40px;
}

.logo-image {
	width: 150px;
}

nav ul {
	text-align: right;
}

nav ul li {
	display: inline-block;
  list-style: none; 
  margin-right: 5px;  
}

nav ul li a {
  line-height: 40px;
  background-color: #00897B;
  color: #ffffff;
  padding: 30px;
}

a:hover{
  background-color: #ffffff ;
  color: #00897B;
  border: 1px solid #00897B;
  transition: color 0.2s;
}


/* ---- BANNER ---- */
.banner {
	height: 100vh;
	background: rgb(244, 244, 244);
}

.banner-text {
	width: 90%;
	margin: auto;
	padding-top: 200px;
	text-align: center;
}

.banner-text h1 {
	font-size: 64px;
}

.banner-text h2 {
	font-size: 25px;
	margin-top: 20px;
}

.ask-action-btn {
  padding: 15px 15px;
  background-color: #00897B;
  color: #ffffff;
}

.banner-text p {
	width: fit-content;
	font-size: 1.7em;
	margin: auto;
	margin-top: 70px;
}

/* --- BUTTONS --- */

.btn {
	background-color: #ffffff;
	color: #00897B;
	padding: 6px 10px;
  border-radius: 2px;
}

.btn:hover {
	background-color: #00897B;
	color: #ffffff;
}

.btn:active {
	background-color: #00897B;
	color: #ffffff;

}



/* --- FORM --- */

#signup,
#signin {
	height: 100vh;
	color: #fff;
}

#signup {
	background: rgb(244, 244, 244);
}

#signin {
	background: rgb(244, 244, 244);
}

.form-container {
	max-width: 60%;
	margin: auto;
	text-align: center;
}

.form {
	max-width: 80%;
	padding: 30px 0;
	background: rgba(83, 83, 83, 0.3);
	border-radius: 3px;
}

.form-link {
font-size: 0.8em;
}

#signup .form-container {
	padding: 120px 0;
}

#signin .form-container {
	padding: 150px 0;
}

.info,
.form {
	width: 90%;
	margin: auto;
}

.info {
	margin-bottom: 50px;
}

.info h3 {
	font-size: 1.75em;
	margin-bottom: 15px;
}

.info p {
	font-size: 1.5em;
}

.form-input {
	width: 90%;
	margin: auto;
	margin: 10px 0;
	padding: 12px;
	font-size: 1em;
	border: none;
	border-radius: 3px;
}

.form-input:focus,
.form-input:hover {
	border: 2px solid rgb(102, 102, 151);
}

.btn-form-submit {
	margin-top: 10px;
	border: none;
	font-size: 1.3em;
}
